.layout{
  display: flex;
  height: 100vh;
}

aside{
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: #e5e7eb;
}

aside a{
  text-decoration: none;
  color: #111827;
}

main{
  flex: 1;
  padding: 30px;
}