.about{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
}

.foto{
  width: 250px;
  height: 250px;
  background: #cbd5e1;
  border-radius: 12px;
}

.info{
  width: 50%;
}